html {
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.0);
	color: white;
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 14px;
}

#context-info {
	bottom: 30%;
	position: fixed;
	text-align: center;
	width: 100%;
}

.panel {
	position: fixed;
	left: 0;
	top: 0;
}