* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 14px;
}