<div id="main-menu-background"></div>
<div id="main-menu">
    <p>Connect to a server.</p>
    <form>
        <table>
            <tr>
                <td>Player Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Server</td>
                <td><input type="text" name="server" /></td>
            </tr>
        </table>
    </form>
</div>