<div id="mainmenu-background"></div>
<div id="mainmenu" title="Connect to Server">
    <form>
        <label for="mainmenu-form-player">Player Name</label>
        <input id="mainmenu-form-player" type="text" name="name" value="Player" required />
        <label for="mainmenu-form-server">Server Address</label>
        <input id="mainmenu-form-server" type="text" name="server" value="127.0.0.1" required />
    </form>
    <p id="mainmenu-error" style="color: rgb(220, 130, 130); display: none;">Failed to connect!</p>
</div>