<div class="chat-panel">
    <ul>
        <li>All</li>
        <li>Local</li>
        <li>Radio</li>
    </ul>
    <ul>
        <li>
            <span class="chat-message-prefix channel-local">[Local] Player42</span>: Test
        </li>
        <li>
            <span class="chat-message-prefix channel-radio">[Radio] Player42</span>: Anyone there?
        </li>
    </ul>
</div>