<div id="chat" title="Chat">
    <div class="chat-buttons-container ui-helper-clearfix">
        <div class="chat-buttons">
            <input type="checkbox" id="chat-in-local" /><label for="chat-in-local">Local</label>
            <input type="checkbox" id="chat-in-radio" /><label for="chat-in-radio">Radio</label>
            <input type="checkbox" id="chat-in-job" /><label for="chat-in-job">Job</label>
            <input type="checkbox" id="chat-in-pda" /><label for="chat-in-pda">PDA</label>
            <input type="checkbox" id="chat-in-game" /><label for="chat-in-game">Game</label>
        </div>
        <p class="chat-buttons-text">In</p>
    </div>
    <ul id="chat-output">
    </ul>
    <div class="chat-buttons-container ui-helper-clearfix">
        <div class="chat-buttons">
            <input type="checkbox" id="chat-out-local" /><label for="chat-out-local">Local</label>
            <input type="checkbox" id="chat-out-radio" /><label for="chat-out-radio">Radio</label>
            <input type="checkbox" id="chat-out-job" /><label for="chat-out-job">Job</label>
        </div>
        <p class="chat-buttons-text">Out</p>
    </div>
    <input id="chat-input" type="text" />
</div>